.container {
    min-height: 900px;
    background-color: #333;
    border-top: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
.list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.cta {
    display: flex;
    align-items: center;
    justify-content: center;
}
.cta button {
    outline: none;
    background: white;
    color: black;
    transition: 0.5s;
    width: 100px;
}
.cta button:hover {
    background: red;
    color: white;
    width: 120px;
}
@media (max-width: 1200px) {
    .list {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 800px) {
    .list {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 700px) {
    .list {
        grid-template-columns: 1fr;
    }
}
